.location {
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;

  h2 {
    font-family: "Mira-Aurolic";
    font-size: 100px;
    font-weight: 400;
    color: rgb(142, 135, 126);
  }

  div {
    display: flex;
    align-items: flex-start;
    column-gap: 45px;

    img {
      width: 474px;
      height: 424px;

      border-radius: 45px;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
        -3px 8px 20px 0px rgba(0, 0, 0, 0.1),
        -14px 33px 36px 0px rgba(0, 0, 0, 0.09),
        -31px 74px 48px 0px rgba(0, 0, 0, 0.05),
        -55px 132px 57px 0px rgba(0, 0, 0, 0.01),
        -86px 206px 63px 0px rgba(0, 0, 0, 0);
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
    }

    .mapHolder {
      overflow: hidden;
      border-radius: 46px;
    }

    .bottomCol {
      max-width: 286px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-family: "Montserrat";
      font-weight: 275;
      color: rgb(142, 135, 126);

      span {
        font-size: 50px;
      }

      p {
        font-size: 30px;
      }
    }
  }
}
