.footer {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 275;
    color: #8e877e;
  }
}
